<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Account Register</h3>
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input required type="text" 
                    value="{{name}}"
                    name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required type="email" 
                    value="{{email}}"
                    name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required type="password" name="password"
                    value="{{password}}" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input required type="password" 
                    value="{{password2}}"name="password2" id="password2" class="form-control">
                </div>
                <button type="submit" class="btn btn-submit">
                    Login 
                </button>
            </form>
        </div>
    </div>
</div>